@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


.mx-48{
margin-left: 42%;
}

.flash-success{
text-align: center;
font-size: 40px;
background-color: #9fe89f;
}

